@media (min-width: 300px) and (max-width: 767px) {

    .mobile_padding_left_right_8 {
        padding-right: calc(var(--gutter-x) * .8);
        padding-left: calc(var(--gutter-x) * .8);
    }
    .mobile_product_list {
        max-width: 50% !important;
        padding-right: calc(var(--gutter-x) * .25) !important;
        padding-left: calc(var(--gutter-x) * .25) !important;
    }
    .product_width {
        width: 80% !important;
    }
    .mobile_pt24 {
        padding-top: 24px !important;
    }

}
