@media (min-width: 300px) and (max-width: 767px) {
    .why-us-snippet{
        padding: unset;
    }
    .select-product-quote{
        display:none;
    }
    .why-us-snippet1{
        padding: 15px;
    }
    .why-us-snippet2{
        margin-top: 20px;
    }
    .mobile_padding_left_right_8 {
        padding-right: calc(var(--gutter-x) * .8);
        padding-left: calc(var(--gutter-x) * .8);
    }
    .mobile_product_list {
        max-width: 50% !important;
        padding-right: calc(var(--gutter-x) * .25) !important;
        padding-left: calc(var(--gutter-x) * .25) !important;
    }
    .product_width {
        width: 80% !important;
    }
    .mobile_width_100 {
        width: 100% !important;
    }
    .mobile_pt24 {
        padding-top: 24px !important;
    }
    .mobile_ml0 {
        margin-left: 0px !important;
    }
    .mobile_mt8 {
        margin-top: 8px !important;
    }
    .mobile_mt16 {
        margin-top: 16px !important;
    }
    .contact_information {
        padding: 20px;
        margin-left: 0px;
    }
    .mob_tab_pb_52 {
        padding-bottom: 52px !important;
    }
    .mobile_flex-wrap {
        flex-wrap: wrap !important;
    }
}
