/***********[Category page]GRID VIEW STYLE START***********/
/*hide description*/
#products_grid.col-lg-9 .oe_subdescription.mb-2.text-muted.small {
    display: none;
}
.product_price {
    display: none;
}
.o_categories_collapse_title b, b.o_products_attributes_title.d-none.d-lg-block {
    font-size: 18px;
    font-weight: 500;
}
label.form-check-label.fw-normal {
    font-size: 16px;
    font-weight: 500;
}
.btn-group .btn-light.active {
    box-shadow: inset 0 0 0 1px #F65026;
    border-color: transparent;
    background-color: #F65026;
    color: #ffffff;
}
a.page-link .fa-chevron-right, a.page-link .fa-chevron-left {
    display: none;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #E97018;
  border-color: #E97018;
  border-radius: 3px;
}
.o_pricelist_dropdown.dropdown.d-none.d-lg-inline {
    display: none !important;
}
.grid-top-button{
    font-size: 18px;
    font-weight: 400;
    /* line-height: 16.93px; */
    border: dashed 1px #676767;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    background: transparent;
    color: #676767;
}
.grid-top-button img {
    margin-right: 5px;
}

/***********[Category page]GRID VIEW STYLE END***********/

/***********[Category page]LIST VIEW STYLE END***********/
/*left align name*/
.o_sortby_dropdown {
    display: none !important;
}
.oe_subdescription.mb-2.text-muted.small {
    font-size: 16px;
    font-weight: 400;
}
#products_grid.o_wsale_layout_list .oe_product h6, #products_grid.o_wsale_layout_list .oe_product .h6 {
    text-align: left !important;
}

/*show description*/
#products_grid.col-lg-9.o_wsale_layout_list .oe_subdescription.mb-2.text-muted.small {
    display: block;
}
.add-to-quote{
    font-size: 13px;
    font-weight: 500;
    line-height: 16.93px;
    border: solid 1px;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    text-decoration: none;
}
.view-product, .view-product:hover{
    font-size: 15px;
    font-weight: 700;
    border: solid 1px;
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    text-decoration: none;
    background: #F65026;
    color: white;
}
.add-to-queue, .add-to-queue:hover{
    font-size: 13px;
    font-weight: 500;
    border: solid 1px;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}
.book-appointment, .book-appointment:hover{
    font-size: 14px;
    font-weight: 700;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    background: #F65026;
    color: white !important;
}
.navbar-nav input.search-query.form-control.oe_search_box.border-0.bg-light.text-bg-light {
    font-size: 14px;
    font-weight: 400;
    width: 400px;
}
.o_wsale_filmstip_wrapper .btn-light{
    background: #F65026;
    border: solid 2px;
    border-color: #F65026;
    border-radius: 5px !important;
    color: white;
    font-weight: 700 !important;
    font-size: 15px !important;
}
/***********[Category page]LIST VIEW STYLE END***********/

/*[Header Menu] Start*/
/*span[data-oe-model="website.menu"] {
    font-size: 12px;
    font-weight: 500;
}*/
/*https://codepen.io/sosuke/pen/Pjoqqp*/
h4.o_default_snippet_text {
    color: #F65026 !important;
}
a.nav-link.active img {
    filter: invert(56%) sepia(98%) saturate(4827%) hue-rotate(347deg) brightness(98%) contrast(96%);
}
a.nav-link:hover {
    color: #F65026 !important;
    filter: invert(56%) sepia(98%) saturate(4827%) hue-rotate(347deg) brightness(98%) contrast(96%);
}
a.nav-link.active{
    color: #F65026 !important;
    border-bottom: solid 4px !important;
}
a.nav-link.active .text-content{
    color: #F65026 !important;
}
.why-us-snippet{
    padding: 50px;
}
.navbar-nav .select-product-quote {
    display: none;
}
.select-product-quote, .select-product-quote:hover {
    border-radius: 5px !important;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 15px 7px 15px;
    background: #F65026;
    color: #ffffff;
    margin-left: 5px !important;
    text-decoration: none !important;
}
.oe_search_button {
    border-radius: 0.4rem !important;
}
li.o_wsale_my_cart {
    display: none;
}
li.dropdown.o_no_autohide_item {
    display: none;
}
ul#top_menu {
    font-size: 12px;
    font-weight: 500;
}
.text-with-image {
    display: flex;
    align-items: flex-start;
    color: #2C2C2C;

}
.text-with-image img {
    margin-right: 10px;
    color: #2C2C2C;

}
.text-with-image .text-content {
    display: flex;
    flex-direction: column;
    color: #2C2C2C;

}
ul#top_menu .dropdown-toggle::after {
    display: none;
}
a.nav-link.o_default_snippet_text {
    padding-bottom: 0px !important;
}
/*[Header Menu] End*/
#products_grid .oe_product .cit-product-name {
    font-size: 16px;
    font-weight: 500;
    color: #2C2C2C !important;
}
@media (min-width: 992px) {
    #products_grid.o_wsale_layout_list .oe_product .cit-product-name {
        font-size: 20px;
        font-weight: 500;
        color: #2C2C2C !important;
    }
    .button-column {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
    }
}

/*Product Page start*/

#o_product_terms_and_share, #o_wsale_cta_wrapper, .js_main_product .product_price, .o_pricelist_dropdown, span[data-oe-expression="record_price"]{
    display:none !important;
}
.uni-product-buttons .btn {
    font-size: 14px;
    font-weight: 700;
    margin-right: 8px;
}
#product_details h1[itemprop="name"]{
    font-size: 35px;
    font-weight:400;
}
#product_details p[data-oe-field="description_sale"]{
    font-size: 16px;
    font-weight:400;
}
.breadcrumb, .breadcrumb-item{
    font-size: 14px;
    font-weight:700;
}
.breadcrumb-item a {
    color: #F65026;
}
.o_default_snippet_text1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}
.o_default_snippet_text2{
    font-size: 16px;
    font-weight: 400;
    color: #676767;
}
.o_colored_level1{
    font-size: 18px;
    font-weight:700;
}
.o_colored_level2{
    font-size: 18px;
    font-weight:400;
}
.o_carousel_product_card .h6.card-title {
    font-size: 16px;
    font-weight: 500;
    color: #2C2C2C !important;
    text-align: center;
}
/*Product Page end*/
/*Checkout Page/Process start*/

.accordion-button .d-flex, div[name="website_sale_cart_line_price"], .col-3.d-flex.flex-column.align-items-end.gap-1, div#cart_total, #amount_total_summary, .td-price{
   display: none !important;
}

label[for="company_name"], input[name="company_name"], .div_vat, .div_street2{
    display: none !important;
}

/******************/
div#o_cart_summary {
    display: none;
}
.css_quantity.input-group {
    display: none;
}
.toast-header.justify-content-between, .js_cart_lines.alert.alert-info{
    display: none !important;
}

/*Review Order > Shipping > Payment*/
.d-flex.flex-column.flex-md-row.align-items-end.align-items-md-start.justify-content-center {
    display: none !important;
}
.o_wizard_circle_progress {
    display: none;
}
/*Checkout Page/Process End*/